@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

@layer base {
  @font-face {
    font-family: brands;
    font-weight: 400;
    src: url(/assets/fonts/fa-brands.ttf) format("ttf");
  }
}

@layer components {
  .home-btn {
    @apply text-3xl font-bold bg-white text-[#12b488] mr-12
  }
  .nav-bar {
    @apply container p-4 flex px-48
  }
  .nav-link {
    @apply text-gray-700 rounded-md text-base;
  }
  .nav-link:hover {
    @apply text-[#12b488] rounded-md text-base;
  }
  .social-icons {
    @apply opacity-50 
  }
  .content-container {
    @apply container mx-auto p-4 px-48
  }
}
