@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

@layer base {
}

@layer components {
  .home-btn {
    @apply text-3xl font-bold bg-white text-[#12b488];
  }
  .nav-bar {
    @apply container p-4 flex px-48;
  }
  .nav-link {
    @apply text-gray-700 rounded-md text-base;
  }
  .nav-link:hover {
    @apply text-[#12b488] rounded-md text-base;
  }
  .social-icons {
    @apply opacity-50 
  }
  .contact-us-btn {
    @apply bg-[#12b488] text-white px-4 py-1 rounded-3xl font-bold text-sm
  }
  .contact-us-btn:hover {
    box-shadow: 0 0 10px 0 #5bf5cc;
    @apply delay-100
  }
  .content-container {
    @apply container mx-auto p-4 px-48
  }
  .swiper-container {
    margin-bottom: 5%;
    @apply -mx-48
  }
  .section {
    margin-bottom: 5%;
  }
}
